{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "env": {
    "es6": true
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "coverage",
    "docs"
  ],
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ]
}
